:root {
    --med-bg-app: #F8FAFC;
    --med-bg-surface: #FFFFFF;
    --med-bg-bot: #EEF2F6;
    --med-bg-user: #0056D2;
    --med-text-main: #1E293B;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--med-bg-app);
    color: var(--med-text-main);
    transition: background-color 0.3s ease, color 0.3s ease;
}

*, *::before, *::after {
    box-sizing: border-box;
}